{% extends "sagamap_admin/chapter_base.html" %}

{% block title %}
    Update {{ chapter }}
{% endblock %}

{% block content %}
<h1><a href={% url "chapter_list" %}>Chapter</a></h1>
<h2>Update {{ chapter }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "chapter_detail" chapter.pk %}>Cancel</a>
<form style="display:inline;" action={% url "chapter_delete" chapter.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ chapter }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}