{% extends "sagamap_admin/places_base.html" %}

{% block title %}
    Update {{ places }}
{% endblock %}

{% block content %}
<h1><a href={% url "places_list" %}>Places</a></h1>
<h2>Update {{ places }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "places_detail" places.pk %}>Cancel</a>
<form style="display:inline;" action={% url "places_delete" places.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ places }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}