{% extends "sagamap_admin/sagas_base.html" %}

{% block title %}
    Update {{ sagas }}
{% endblock %}

{% block content %}
<h1><a href={% url "sagas_list" %}>Sagas</a></h1>
<h2>Update {{ sagas }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "sagas_detail" sagas.pk %}>Cancel</a>
<form style="display:inline;" action={% url "sagas_delete" sagas.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ sagas }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}