{% extends "sagamap_admin/sagaplace_base.html" %}

{% block title %}
    Update {{ sagaplace }}
{% endblock %}

{% block content %}
<h1><a href={% url "sagaplace_list" %}>Sagaplace</a></h1>
<h2>Update {{ sagaplace }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "sagaplace_detail" sagaplace.pk %}>Cancel</a>
<form style="display:inline;" action={% url "sagaplace_delete" sagaplace.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ sagaplace }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}