{% extends "sagamap_admin/sagas_base.html" %}

{% block title %}
    {{ sagas }}
{% endblock %}

{% block content %}
    <h1><a href={% url "sagas_list" %}>Sagas</a></h1>
    <h2>{{ sagas }} | <a href={% url "sagas_update" sagas.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "sagas_delete" sagas.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ sagas }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}