{% extends "sagamap_admin/users_base.html" %}

{% block title %}
    {{ users }}
{% endblock %}

{% block content %}
    <h1><a href={% url "users_list" %}>Users</a></h1>
    <h2>{{ users }} | <a href={% url "users_update" users.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "users_delete" users.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ users }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}